/*general*/
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.backBleu{
    background-color: #032252;
}

.backGris{
    background-color: #deebff;
}

.bordureNone{
    border: none;
}


/* head */




/*body*/
body{
    margin :0;  
}

.PartieRecherche{
    background-image: url("img/background2.png");
    height:400px;
    width:100%;
}

/*titre1*/

.flexBlockquote{
    align-items: center;
    display: flex;
    margin: 60px;
}

.titre1{
    color:#ececec;
    
}

/*barre de recherche*/

.paddingSearch{
    padding-left: 20px;
}
.search{
    display: flex;
    justify-content: center;
    
}
.bordureSearch{
    width: 400px;
    border-radius: 10px;
    border : 0.5px solid #f2f2f2;
}

.recherche{
    height: 50px;
    width: 260px;
    font-size: 18px;
    color: black;
    font-weight: bold;

}
.iconSize{
    height : 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.buttonSearch {
    height :50px;
    width : 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
